:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray: #f2f2f2;
}

.card-top {
    width: 22em;
    height: 32em;
    display: flex;
}

.card-bottom {
    font-size: 1.2rem;
}

.paragraph {
    margin-bottom: -1rem;
    font-weight: 600;
}
