:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray: #f2f2f2;
    --color-background: #ebf0ec;
    --color-font: #a9bdc7;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-black);
    width: auto;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
    padding: 1.5rem 2rem;
    color: var(--color-white);
    border-radius: .5rem;
}

.modal-img {
    display: flex;
    justify-content: center;
    align-items: center;

}

.info {
    text-align: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lang-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    text-transform: uppercase;
    margin: 0px;
}

.language {
    color: var(--color-font);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-background);
}

.close-btn-mobile {
    display: none;
}

.subtitle {
    font-size: small;
    font-weight: bold;
}

.paragraph-indi {
    font-size: 1.15rem;
    color: var(--color-gray)
}

.people {
    width: -webkit-fill-available;
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5em;
    justify-items: center;
    align-items: center;
}

.people img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.close-btn-desktop {
    /* position: absolute; */
    /* bottom: 40rem;
    right: 21rem; */
    display: flex;
    justify-content: end;
}

@media (max-width:600px) {
    .modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 2rem 1rem 2rem;
    }

    .close-btn-mobile {
        display: flex;
        margin-top: 1.5rem;
    }

    .image img {
        display: none;
    }

    .info {
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .close-btn-desktop {
        /* position: absolute; */
        /* bottom: 40rem;
        right: 21rem; */
        display: none;
    }

    .paragraph-indi p {
        margin-top: 0%;
    }

    .people {
        grid-template-columns: repeat(4, 1fr);
    }

    .people img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

}