:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray: #f2f2f2;
}

.rating {
    display: flex;
    width: 15%;
    justify-content: space-evenly;
    margin: 0 auto;
}

.star{
    margin-right: .5rem;
}

